
.header
{
	background: black;
	color: white;
	width : auto;
	height: 107px;
}

.logo
{
	width: 90px;
	margin-top: 10px;
	margin-left: 10px;
}
.logout
{
	color: blue;
	padding: 10px 40px;
	text-align: center;
	margin-left: 1350px;
	position: relative;
	top: -40px;
}
.side
{
	background: black;
	width : 200px;
	height: 1000px;
}
.dash
{
	width: 200px;
	height: 50px;
}
.patron
{
	width: 203px;
	height: 50px;
}
.book
{
	width: 200px;
	height: 50px;
}
.settings
{
	width: 200px;
	height: 50px;
}
.Add
{
	color: blue;
	padding: 10px 40px;
	text-align: center;
	margin-left: 250px;
	position: relative;
	top: 70px;
}
.Search
{
	color: blue;
	padding: 10px 40px;
	text-align: center;
	margin-left: 1000px;
	position: relative;
	top: 40px;
}


