<template>
  <div id="app">
    <div class="header">
		<img src="../assets/images/log.png" class="logo">
		<div>
			<a href="#"><button class="logs">Log out</button></a>
		</div>
					<br>
			<div class="side">
				<a href="dashboard.html">		
				<img src="../assets/images/dashboard.png" class="dash"></a>
				<a href="patron management.html">	
				<img src="../assets/images/patron management.png" class="patron"></a>
				<a href="book management.html">			
				<img src="../assets/images/book management.png" class="book"></a>
				<a href="settings.html">	
				<img src="../assets/images/settings.png" class="settings">	</a>
			</div>
	</div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style></style>