<template>
  <div id="app">
    <SideBar/>
   <div class="containerBook">
            <button @click='toogle = !toogle' class="addpat">Add Book</button>
              <input class="searchh" type="text" name="box" placeholder="Search">
            <table class="tbody-design table table-bordered">
        <thead class="table-design">
          <th></th>
          <th>Name</th>
    <th>Author</th> 
    <th>Copies</th>
    <th>Category</th>
        </thead>
        <tr id="row1">
          <td>
            <input  class="action1" type="button" value="Edit"><br>
            <input  class="action" type="button" value="Delete"><br>
             <input  class="action1" type="button" value="Borrow" ><br>
             <input  class="action" type="button" value="Return"> 
          </td>
          <td>Maxpein Zein Enrile</td>
    <td>Kim Lagonoy</td>
    <td>25</td>
    <td>bitbucket</td>
        </tr>
        <tr id="row2">
          <td>
            <input  class="action1" type="button" value="Edit"><br>
            <input  class="action" type="button" value="Delete"><br>
             <input  class="action1" type="button" value="Borrow" ><br>
             <input  class="action" type="button" value="Return"> 
          </td>
          <td>Maxpein Zein Enrile</td>
    <td>Kim Lagonoy</td>
    <td>25</td>
    <td>bitbucket</td>
        </tr>
        <tr id="row3">
          <td>
             <input  class="action1" type="button" value="Edit"><br>
            <input  class="action" type="button" value="Delete"><br>
             <input  class="action1" type="button" value="Borrow" ><br>
             <input  class="action" type="button" value="Return"> 
          </td>
   <td>Maxpein Zein Enrile</td>
    <td>Kim Lagonoy</td>
    <td>25</td>
    <td>bitbucket</td>
        </tr>
      </table>
    </div>
 <div v-show='toogle' id="overlay" align="center">
     <div class="modal-body">
    <div class="modal-header1 ">
      <h3>Book</h3>
      
       <button @click='toogle = !toogle' class="close">
         <span aria-hidden="true">&times; </span>
         </button>
    </div>
     <br><br><br>
    <form>
       <div class="form-g">
        <span>Name<input class="form-input" type="text">
        </span>
        </div>

        <div class="form-g">
        <span>Author<input class="form-input" type="text">
        </span>
        </div>

        <div class="form-g">
        <span>Copies<input class="form-input" type="text">
        </span>
        </div>
         <div class="form-g">
        <span>Categories<input class="form-input" type="text">
        </span>
        </div>
         <div class="form-g">
       <button class="btn-code btn  btn-dark" align="right">REGISTER</button>

        </div>
    </form>
  </div>
</div>
  </div>
</template>

<script>




import SideBar from "./components/SideBar";

export default {
        el: '#app',
        data(){
          return {
            toogle:false
          }
        },    



  mounted(){
    document.title = "Book Management"
  },
  components: { 
    SideBar
    },
};
</script>

