<template>
  <div id="app">
    <SideBar/>
    
             <div class="row">
              <div class="column">
                <canvas id="barChart" ref="barChart"></canvas>    
              </div>
              <div class="column">
                <canvas id="pieChart"></canvas>
              </div>  
             </div></div>
</template>

<script>
import SideBar from "./components/SideBar";

import Chart from 'chart.js';
export default {
  components: { SideBar
  },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        backgroundColor: 'gray',
        type: "bar",

        data: {
			labels: ['June', 'July', 'August', 'September'],
          datasets: [
            {
              label: 'My First dataset',
              
              backgroundColor: ['rgb (0,50,99,132)', 'green' , 'black' , 'red' , 'pink'],
               borderColor: 'black',
               data: [10, 50, 100, 150],
              
            },
            
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "pie",
        data: {
          datasets: [
            {
              label: 'My First dataset',
              data: [10, 50, 100, 100 , 130],
              backgroundColor: ['pink', 'red','blue','yellow' , 'green'],
            },
          ],

         labels: ['Fiction', 'History', 'Novel', 'Computer Science' , 'Romance'],
        },
        
      });
    });
  },
  
};
 
</script>
