<template>
  <div id="app">
    <SideBar/>
    <div class="containerPatron">
            <button @click='toogle = !toogle' class="addpat">Add Patron</button>
              <input class="searchh" type="text" name="box" placeholder="Search">
            <table class="tbody-design table table-bordered">
        <thead class="table-design">
          <th></th>
          <th>Name</th>
          <th>Email Address</th> 
          <th>Date Registered</th>
        </thead>
        <tr id="row1">
          <td>
            <input  class="action1"  value="Edit"><br>
            <input  class="action" type="button" value="Delete"><br>
          </td>
          <td>Maxpein Zein Enrile</td>
    <td>pein@gmail.com</td>
    <td>July 23,2020</td>
        </tr>
        <tr id="row2">
          <td>
            <input  class="action1"  value="Edit"><br>
            <input  class="action" type="button" value="Delete"><br>
          </td>
          <td>Yoona Lim</td>
    <td>yoonalim@yahoo.com</td>
    <td>April 12,2020</td>
        </tr>
        <tr id="row3">
          <td>
            <input  class="action1"  value="Edit"><br>
            <input  class="action" type="button" value="Delete"><br>
          </td>
    <td>Lee Dong Min</td>
    <td>oppamimin@gmail.com</td>
    <td>January 30,2019</td>
        </tr>
      </table>
    </div>
 <div v-show='toogle' id="overlay" align="center">
     <div class="modal-body">
    <div class="modal-header1 ">
      <h3>Patron</h3>
      
       <button @click='toogle = !toogle' class="close">
         <span aria-hidden="true">&times; </span>
         </button>
    </div>
     <br><br><br>
    <form>
       <div class="form-g">
        <span> First Name  <input class="form-input" type="text">
        </span>
        </div>

        <div class="form-g">
        <span> Email Address <input class="form-input" type="text">
        </span>
        </div>

        <div class="form-g">
        <span> Date <input class="form-input" type="text">
        </span>
        </div>
        <div class="form-g">
        <button class="btn-code btn  btn-dark" align="right">REGISTER</button>

        </div>
    </form>
  </div>
</div>
  </div>
</template>

<script>




import SideBar from "./components/SideBar";

export default {
        el: '#app',
        data(){
          return {
            toogle:false
          }
        },    



  mounted(){
    document.title = "Patron Management"
  },
  components: { 
    SideBar
    },
};
</script>

