<template>
  <div id="app">
    <SideBar/>
  </div>
</template>

<script>




import SideBar from "./components/SideBar";

export default {
  mounted(){
    document.title = "Settings"
  },
  components: { 
    SideBar
    },
};
</script>

