.header
{
	background: black;
	color: white;
	width : auto;
	height: 107px;
}
.table-container{
	position:absolute;
	top:75px;
}
.table-design{
	background-color: rgb(196,196,196);
}
.modal-header1{
	position: absolute;
	background-color: rgb(214,124,124);
	top:0;
	width: 100%;
	right: 0px;

}
.form-container{
	top:1000px;
	left:300px;
	position: 	absolute;	
	background-color: 	violet;
	width: 700px;
	height: 700px;
}
.modal-body{
	margin-top: 10%;
	margin-left: 10%;
	width: 500px;
	height: 450px;
	background-color:rgb(196,196,196);
	
}
.btn-code{
	position: absolute;
	right: 10px;
}
.form-g{
	padding:2%;
}
.tbody-design{
	background-color: rgb(253,237,237);
}
.action1{
	border:none	;
	padding:none;
	margin:none;
	background-color:rgb(239,220,161);
	width:140px;
	margin-top:2%;
}
.action{
	border:none	;
	padding:none;
	margin:none;
	background-color:rgb(190,214,208);
	width:140px;
	margin-top:2%;
	

}
.column{
	width:50%;
}
.row{
	top:200px;
	position: 	absolute;	
	width: 900px;
	left:300px;
	background-color: #fff;
	height: 1400px;
}
.logs{
	position: absolute;	
	left:1250px;
	top:50px;
	border:none;
}


.logo
{
	width: 90px;
	margin-top: 10px;
	margin-left: 10px;
}
.logout
{
	color: blue;
	padding: 10px 40px;
	text-align: center;
	margin-left: 1350px;
	position: relative;
	top: -40px;
}
.side
{
	background: black;
	width : 200px;
	height: 1000px;
}
.dash
{
	width: 200px;
	height: 50px;
}
.patron
{
	width: 203px;
	height: 50px;
}
.book
{
	width: 200px;
	height: 50px;
}
.settings
{
	width: 200px;
	height: 50px;
}
.Add
{
	color: blue;
	padding: 10px 40px;
	text-align: center;
	margin-left: 250px;
	position: relative;
	top: 70px;
}
.Search
{
	color: blue;
	padding: 10px 40px;
	text-align: center;
	margin-left: 1000px;
	position: relative;
	top: 40px;
}
 #overlay{
            position: fixed;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;
            background: rgba(0,0,0,0.6);
}

.addpat{
	margin-top:10%;
	border:none;

}


.close{
	position: absolute;
	top:0px;
	right: 10px;
}

.containerPatron{
	height:800px;
	width:800px;
	left:300px;
	position: absolute;
	background-color: white	;
}
.containerBook{
	height:800px;
	width:800px;
	left:300px;
	position: absolute;
	background-color: white	;
}

.form-input{
	float:right;
}
.searchh{
	margin-top:10%;
	float:right;
	margin-bottom: 10%;
}